<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-sidenav-container>
    <div class="wrapper">
      <div
        class="toolbar"
        [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'"
        [class.mat-elevation-z4]="stickyHeader$ | async"
      >
        <mat-toolbar color="primary">
          <span routerLink="">
            <fa-icon [icon]="['fab', 'cloudversify']" size="2x"></fa-icon>
            <span class="nav-title d-none d-sm-inline branding"
              >Air Condition App</span
            >
          </span>

          <span class="spacer"></span>

          <div class="nav-section">
            <span>
              <button
                mat-button
                class="nav-button"
                *ngFor="let item of navigation"
                [routerLink]="[item.link]"
                routerLinkActive="active"
              >
                {{ item.label | translate }}
              </button>
            </span>

            <button mat-icon-button routerLink="settings">
              <fa-icon icon="cog"></fa-icon>
            </button>
          </div>
        </mat-toolbar>
      </div>
      <div
        class="content"
        [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path"
      >
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer">
        <a href="https://www.github.com/kamilpszczolkowski" target="_blank">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
          <span class="year" data-testid="footer-year">{{ year }}</span> - Kamil
          Pszczółkowski
        </a>
        <a
          [matTooltip]="'anms.footer.changelog' | translate"
          matTooltipPosition="before"
          href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md"
        >
          <fa-icon icon="rocket"></fa-icon>
          {{ version }} <span *ngIf="!isProd">[{{ envName }}]</span>
        </a>
      </div>
    </div>
  </mat-sidenav-container>
</div>
