h2 {
  text-align: center;
  font-weight: bold;
}

.aqi {
  text-align: center;
}

.aqi-value {
  font-weight: bold;
}

.measurement-desc {
  padding-left: 15px;
}

.no-measure {
  color: red;
}

.fetch-window {
  margin: 160px;
}
